.welcomPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcomebox {
    display: flex;
    flex-direction: column;
    border: groove;
    background-color: lavender;
    border-radius: 15px;
    width: fit-content;
    align-items: center;
    margin: 0 auto 100px;
    padding: 20px 80px;
    gap: 10px;
}
.loginText{
    font-size: 20px;
    font-weight: bold;
}
.logoBoxImg{
vertical-align: middle;
width: 200px;
}
.small-git-hub-logo {
    margin: 0;
    background: no-repeat;
    padding: 20px;
    background-image: url("./github-logo.png");
    filter: opacity(30%);
    background-size: contain;
    display: flex;
}